* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    background-color: #003366;
    padding: 20px;
    height: 200px;
    color: #fff;
}

.logo {
    float: left;
}

.logo img {
    width: 150px;
    height: 150px;
}

.contacts {
    float: right;
    margin-right: 25px;
}

.contacts p {
    font-size: 35px;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
    clear: both;
}

.pris {
    height:300px;
    width: 49%;
    display: inline-block;
}

.pris-img {
    height: 300px;
    width: 50%;
    display: inline-block;
}

.pris-box {
    position: absolute;
    height: 300px;
    align-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.pris-img-box {
    position: absolute;
    height: 300px;
    align-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.pris-box img {
    height: 150px;
    width: 150px;
}

.pris-img  img{
    height: 300px;
    width: 300px;
}

.order-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.order-btn:hover {
    background-color: #bc1919;
    transition: 200ms linear;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 16px; 
}

.promo {
    padding: 50px;
    background-color: #eee;
    text-align: center;
}

.promo-img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.timer {
    font-size: 55px;
    color: #ff0000;
    font-weight: bold;
    margin-top: 20px;
}

.promo-text {
    margin-top: 20px;
    font-size: 16px;
}

.trust-info {
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.workflow {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
}

.steps {
    margin-top: 30px;
}

.step {
    display: inline-block;
    background-color: #003366;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    font-size: 24px;
    margin: 10px;
}

.steps img {
    width: 100px;
    height: 100px;
    display: inline-block;    
    border-radius: 50%;
    margin-left: 15px;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.footer-content {
    margin-top: 10px;
    display: inline-block;
    margin-left: 100px;
}

footer button {
    display: inline-block;
}